.uk-contrast .uk-link:hover, .uk-contrast a:not([class]):hover {
	text-decoration: none;
}

h1.name {
	line-height: 4.4rem;
	
}

h1.name.first {
	font-size: 4rem;
}

h1.name.last {
	font-size: 5.3rem;
	opacity: 0.7;
	font-weight: 900;
}

.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.doer > li {
	display: block;
}

.uk-icon-justify.smaller {
	width: 5rem;
	font-size: 0.7em;
}