<meta property="og:title"             content="{{ site.title }}" />
<meta property="og:site_name"         content="{{ site.title }}" />
<meta property="og:type"              content="website" />
<meta property="og:url"               content="{{ site.url }}" />
<meta property="og:image"             content="{{ site.profile_image | prepend:site.url }}" />
<meta property="og:image:alt"         content="{{ site.title }}" />
<meta property="og:image:type"        content="image/jpeg" />
<meta property="og:description"       content="{{ site.description }}" />
<meta property="og:locale"            content="en_IN" />
<meta property="og:locale:alternate"  content="en_US" />


