<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Person",
    "name": "Aditi Mohanty",
    "givenName": "Aditi",
    "additionalName": "Anomita",
    "familyName": "Mohanty",
    "alternateName": "Rhea Aditi Mohanty",
    "gender": "Female",
    "birthDate": "1993-11-15",
    "url": "{{ site.url }}",
    "worksFor": {
      "@context" : "http://schema.org",
      "@type" : "Organization",
      "url" : "https://cleartax.in/"
    },
    "workLocation": { 
      "@type": "City",
      "name": "Bangalore"
    },
    "jobTitle": "Front-End Engineer",
    "sameAs": [
        "{{ site.social.twitter }}",
        "{{ site.social.github }}",
        "{{ site.social.facebook }}",
        "{{ site.social.linkedin }}",
        "{{ site.social.medium }}",
        "{{ site.social.googleplus }}",
        "{{ site.social.quora }}",
        "{{ site.social.angellist }}",
        "{{ site.social.dribbble }}",
        "{{ site.social.instagram }}",
        "{{ site.social.codepen }}",
        "{{ site.social.youtube }}",
        "{{ site.social.doselect }}",
        "{{ site.social.lastfm }}"
    ],
    "alumniOf": "PES Institute of Technology, Bangalore South Campus"
  }
</script>
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "WebSite",
    "url": "{{ site.url }}",
    "name": "{{ site.title }}",
    "author": {
      "@type": "Person",
      "name": "Aditi Mohanty"
    }
  }
</script>