.main-gradient {
  background-color: $bg-gradient-end;
  background-image: -webkit-linear-gradient(297deg, $bg-gradient-start 0%, $bg-gradient-end 100%);
  background-image: -o-linear-gradient(297deg, $bg-gradient-start 0%, $bg-gradient-end 100%);
  background-image: linear-gradient(153deg, $bg-gradient-start 0%, $bg-gradient-end 100%);
  background-size: cover;
  background-repeat: repeat;
}

h1.name {
  text-transform: uppercase;
  font-weight: $font-weight-light;
  letter-spacing: 0.5rem;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.8rem;
  line-height: 1;

  @media screen and (min-width: 768px) {
    font-size: 3rem;
  }
}

.card {
  background-color: #FFFFFF;
  background-color: rgba(255,255,255, 0.8);  
  width: 600px;
  max-width: 95%;
  
  box-shadow: 0rem 1.125rem 4.125rem 0rem rgba(0,0,0,0.1);
  border-radius: 0.625rem 0.625rem 0.625rem 0.625rem;

  padding: 3rem 4rem;

  transition: box-shadow 0.25s ease 0s, opacity 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, -webkit-transform 0.25s ease 0s, -webkit-transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;  
  transition: box-shadow 0.25s ease 0s, transform 0.25s ease 0s, transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;  
  transition: box-shadow 0.25s ease 0s, transform 0.25s ease 0s, transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, -webkit-transform 0.25s ease 0s, -webkit-transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;

  .mugshot {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    margin-bottom: 1rem;

    @media screen and (min-width: 768px) {
      width: 9rem !important;
      height: 9rem !important;
      margin-top: -7rem;
    }
    
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.social {
  padding: 0;
  list-style: none;
  font-size: 1.2rem;
  letter-spacing: 0;

  li {
    vertical-align: middle;
    margin: 0.2rem;
    opacity: 0.3;
    transition: opacity 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
    -webkit-transition: opacity 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;

    &:hover {
      opacity: 0.5;
    }
    
    &, a {
      display: inline-block;
    }

    a {
      border: 1px solid #000;
      border-radius: 50%;
      width: 32px;
      height: 32px;
      text-align: center;
      line-height: 2rem;
    }

    img {
      width: 16px;
      height: 16px;
    }
  }
}