<div class="hide">
  <a  href="{{ site.social.googleplus }}"
      title="Aditi Mohanty on Google Plus"
      rel="me"
      target="_blank">
      Google+
  </a>
  <a  href="{{ site.social.quora }}"
      title="Aditi Mohanty, on Quora"
      rel="nofollow"
      target="_blank">
      Quora
  </a>
  <a  href="{{ site.social.angellist }}"
      title="Hire Aditi Anomita Mohanty on AngelList (angel.co)"
      rel="nofollow"
      target="_blank">
      AngelList
  </a>
  <a  href="{{ site.social.dribbble }}"
      title="Aditi Mohanty's design profile on Dribbble.com"
      rel="nofollow"
      target="_blank">
      Dribbble
  </a>
  <a  href="{{ site.social.instagram }}"
      title="Aditi Mohanty on Instagram"
      rel="nofollow"
      target="_blank">
      Instagram
  </a>
  <a  href="{{ site.social.lastfm }}"
      title="View Aditi Mohanty's music taste on Last.fm"
      rel="nofollow"
      target="_blank">
      Last.fm
  </a>
  <a  href="{{ site.social.codepen }}"
      title="View Aditi Mohanty's (rheaditi) pens on Codepen.io"
      rel="nofollow"
      target="_blank">
      Codepen
  </a>
  <a  href="{{ site.social.youtube }}"
      title="Aditi Mohanty on YouTube"
      rel="nofollow"
      target="_blank">
      YouTube Channel
  </a>
  <a  href="{{ site.social.doselect }}"
      title="Aditi Mohanty's Developer Profile on DoSelect"
      rel="nofollow"
      target="_blank">
      DoSelect
  </a>
  <a  href="{{ site.social.soundcloud }}"
      title="Aditi Mohanty (rheaditi) on SoundCloud"
      rel="nofollow"
      target="_blank">
      SoundCloud
  </a>
</div>