<ul class="social">
  <li>
    <a href="{{ site.social.twitter }}" title="@rheaditi on Twitter">
      <amp-img srcset="/img/icon/twitter_b_24x24.png 1x, /img/icon/twitter_b_64x64.png 2x" width="24" height="24" alt="@rheaditi on Twitter">
      </amp-img>
    </a>
  </li>
  <li>
    <a href="{{ site.social.github }}" title="@rheaditi on GitHub">
      <amp-img srcset="/img/icon/github_b_24x24.png 1x, /img/icon/github_b_64x64.png 2x" width="24" height="24" alt="@rheaditi on GitHub">
      </amp-img>
    </a>
  </li>
  <li>
    <a href="{{ site.social.medium }}" title="@rheaditi on Medium">
      <amp-img srcset="/img/icon/medium_b_24x24.png 1x, /img/icon/medium_b_64x64.png 2x" width="24" height="24" alt="@rheaditi on Medium">
      </amp-img>
    </a>
  </li>
  <li>
    <a href="{{ site.social.linkedin }}" title="Aditi Mohanty on LinkedIn">
      <amp-img srcset="/img/icon/linkedin_b_24x24.png 1x, /img/icon/linkedin_b_64x64.png 2x" width="24" height="24" alt="Aditi Mohanty on LinkedIn">
      </amp-img>
    </a>
  </li>
</ul>